@tailwind base;
@tailwind components;
@tailwind utilities;

/* Quill editor styling */
.ql-container {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  height: 100%; /* Ensure it fills the flex parent */
  display: flex;
  flex-direction: column;
}

.ql-editor {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.ql-editor.ql-blank::before {
  color: #adb5bd;
  font-style: normal;
}
