services:
  # server:
  #   build:
  #     context: ./server
  #     dockerfile: Dockerfile
  #     target: prod
  #   ports:
  #     - "${SERVER_PORT:-9000}:9000"
  #   environment:
  #     - PORT=9000
  #   restart: unless-stopped

  # web:
  #   image: node:20
  #   working_dir: /app
  #   volumes:
  #     - ./web-client:/app
  #     - node_modules:/app/node_modules
  #   ports:
  #     - "${CLIENT_PORT:-3000}:3000"
  #   environment:
  #     - PORT=3000
  #     - VITE_SERVER_URL=ws://localhost:${SERVER_PORT:-9000}
  #   command: sh -c "npm install && npm run build && npm run preview -- --host 0.0.0.0 --port 3000"
  #   depends_on:
  #     - server
  #   restart: unless-stopped

  server-base-image:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: crdt-cpp-host-base:latest
    command: [ "true" ]     # prevents accidental startup
  
  server-dev-bash:
    container_name: crdt-cpp-host-dev
    image: crdt-cpp-host-base:latest
    working_dir: /app
    volumes:
      - .:/app # Mount the entire repo to the dev environment
    stdin_open: true
    tty: true
    command: [ "bash" ]

# volumes:
#   node_modules: